*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: rgba(255, 255, 255, 0.904);
    overflow: hidden;
}
.burger
{
    margin: 30px 0 20px 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: inherit;
    z-index: 1;
}
.burger .bar
{
    background-color: tomato;
    height: 4px;
    width: 100%;
    display: block;
}
#line1
{
    transform: translateY(-4px);
}
#line3
{
    transform: translateY(4px);
}
.change .bar
{
    background: white;
    transition: 0.3s ease-in;
}
.change #line1
{
    transform: translateY(4px) rotateZ(-45deg);
}
.change #line2
{
    display: none;
}
.change #line3
{
    transform: translateY(-1px) rotate(45deg);
}
.menu-bg,.menubar
{
    top: 0;
    left: 0;
    position: absolute;
}
.menu-bg
{
    z-index: 0;
    height: 0;
    width: 0;
    transition: 0.5s ease;
}
nav
{
    position: relative;
    border-bottom: 1px solid rgb(110, 105, 105);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.icon
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.icon h5
{
    font-size: 20px;
    font-weight: bold;
    
}
.icon img
{
    height: 70px;
    width: 70px;
    margin: 5px;
}
.change-bg
{
    position: absolute;
    border-radius: 50%;
    height: 790px;
    width: 790px;
    transform: translate(-60%,-30%);
    animation: example 10s linear .1s infinite alternate;
    background-color: rgb(0, 0, 0);
}
@keyframes example {
    0%   { left:0px; top:0px;}
    25%  { top:0px;}
    50%  { left:5px; top:5px;}
    75%  { left:0px; top:5px;}
    100% { left:0px; top:0px;}
  }

.menu li 
{
    
margin: 20px;
list-style: none;
font-size: 30px;
padding: 10px;
z-index: 2;
}
.menu a
{
    color: rgb(255, 0, 0);
    text-decoration: none;
}
.menu
{
    position: absolute;
    padding: 0 13px;
    opacity: 0;
    right: 32px;
    top: 277px;
}
