@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
body
{
    background-color: rgba(255, 255, 255, 0.904);
}
.loader
{
    background-color: rgb(252, 252, 252);
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow-x:hidden;
    z-index: 100;
}
#ftco-loader
{
   
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow-x:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.loader img
{
    height: 130px;
    width: 130px;
    opacity: ;
    animation: loadanimation  .6s linear .5s infinite alternate; ;
}
@keyframes loadanimation
{
    from
    {
        height: 100px;
        width: 100px;
    }
    to {
        height: 130px;
        width: 130px;
    } 
}
.burger
{
    margin: 30px 0 20px 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: inherit;
    z-index: 1;
}
.burger .bar
{
    background-color: rgb(204, 31, 0);
    height: 4px;
    width: 100%;
    display: block;
}
#line1
{
    transform: translateY(-4px);
}
#line3
{
    transform: translateY(4px);
}
.change .bar
{
    background: white;
    transition: 0.3s ease-in;
}
.change #line1
{
    transform: translateY(4px) rotateZ(-45deg);
}
.change #line2
{
    display: none;
}
.change #line3
{
    transform: translateY(-1px) rotate(45deg);
}
.menu-bg
{
    top: 0;
    left: 0;
    position: absolute;
    background-color: white;
}
.menubar
{
    top: 0;
    left: 0;
    position: absolute;
    
}
.menu-bg
{
    position: inherit;
    z-index: 0;
    height: 0;
    width: 0;
    transition: 0.5s ease;
}
nav
{
    position: sticky;
    border-bottom: 2px solid rgb(110, 105, 105);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    box-shadow: 0px 0px 0px 0px;
    z-index: 200;
}
.icon
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.icon h5
{
    font-size: 25px;
    font-weight: bold;
    text-transform:capitalize;
    font-family: 'Reggae One', cursive;
    color: white;
}
span
{
color: red;
}
.menu span
{
    color: red;
}
.icon img
{
    height: 70px;
    width: 70px;
    margin: 5px;
}
.change-bg
{
    position: absolute;
    border-radius: 50%;
    height: 790px;
    width: 790px;
    transform: translate(-60%,-30%);
    animation: example 10s linear .1s infinite alternate;
    background-color: rgb(0, 0, 0);
    
}
.blur
{
    filter: blur(3px);
  -webkit-filter: blur(3px);
}
@keyframes example {
    0%   { left:0px; top:0px;}
    25%  { top:0px;}
    50%  { left:5px; top:5px;}
    75%  { left:0px; top:5px;}
    100% { left:0px; top:0px;}
  }

.menu li 
{
    
margin: 20px;
list-style: none;
font-size: 30px;
padding: 10px;
z-index: 2;
}
.menu a
{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.menu
{
    position: inherit;
    padding: 0 13px;
    opacity: 0;
    right: 32px;
    top: 277px;
}
main .intro 
{
    z-index: -1;
    background-color: rgb(212, 212, 212); 
   width: 100%;
   position: relative;
    height: 600px;
    background-attachment: fixed;
}
.content
{
    position: relative;
    margin: 20px;
    padding: 30px;
}
@media screen and (max-width: 660px)
{
    .icon h5
    {
        font-size: 23px;
    }
}
@media screen and (max-width: 360px)
{
    .icon h5
    {
        font-size: 18px;
    }
    .burger .bar
{
    height: 3.5px;
    width: 80%;
}
}