@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html
{
    scroll-behavior: smooth;
}
body
{
    background-color: rgba(255, 255, 255, 0.904);
}
.intro-img 
{
    background: url(images/thumb.jpg) no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: rgb(212, 212, 212); 
    width: 100%;
    height: 100vh;
    
}
.intro
{
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    position: inherit;
    width: 100%;
    height: 100vh;
    background-color: rgba(245, 230, 230, 0.226);
    clip-path: polygon(100% 0,0 100%,100% 100%);
    backdrop-filter: blur(4px);
}
.intro button
{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 230px;
    padding: 10px 20px;
    color: white;
    background: red;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.loader
{
    background-color: rgb(252, 252, 252);
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow-x:hidden;
    z-index: 100;
}
#ftco-loader
{
   
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow-x:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.loader img
{
    height: 130px;
    width: 130px;
    opacity: ;
    animation: loadanimation  .6s linear .5s infinite alternate; ;
}
@keyframes loadanimation
{
    from
    {
        height: 100px;
        width: 100px;
    }
    to {
        height: 130px;
        width: 130px;
    } 
}
.burger
{
    margin: 30px 0 20px 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: inherit;
    z-index: 1;
}
.burger .bar
{
    background-color: rgb(204, 31, 0);
    height: 4px;
    width: 100%;
    display: block;
}
#line1
{
    transform: translateY(-4px);
}
#line3
{
    transform: translateY(4px);
}
.change .bar
{
    background: white;
    transition: 0.3s ease-in;
}
.change #line1
{
    transform: translateY(4px) rotateZ(-45deg);
}
.change #line2
{
    display: none;
}
.change #line3
{
    transform: translateY(-1px) rotate(45deg);
}
.menu-bg
{
    top: 0;
    left: 0;
    position: absolute;
    background-color: white;
}

nav{
    top: 0;
    position: sticky;
}
.menu-bg
{
    position: inherit;
    z-index: 0;
    height: 0;
    width: 0;
    transition: 0.5s ease;
}
nav
{
    position: sticky;
    border-bottom: 2px solid rgb(110, 105, 105);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.548);
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 0px 0px;
    z-index: 200;
    
}
.menubar
{
    top: 0;
    left: 0;
    position: absolute;
    
    
}
.icon
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.icon h5
{
    font-size: 25px;
    font-weight: bold;
    text-transform:capitalize;
    font-family: 'Reggae One', cursive;
    color: white;
}
span
{
color: red;
}
.menu span
{
    color: red;
}
.icon img
{
    height: 70px;
    width: 70px;
    margin: 5px;
}
.change-bg
{
    position: absolute;
    border-radius: 50%;
    height: 790px;
    width: 790px;
    transform: translate(-60%,-30%);
    background-color: rgb(0, 0, 0);
    
}
.blur
{
    filter: blur(3px);
  -webkit-filter: blur(3px);
}
.menu li 
{
    
margin: 20px;
list-style: none;
font-size: 30px;
padding: 10px;
z-index: 2;
}
.menu a
{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.menu
{
    position: inherit;
    padding: 0 13px;
    opacity: 0;
    right: 32px;
    top: 277px;
}
.offering
{
    width: 100%;
    height: auto;
    position: relative;
    border: .01em solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.offering .feat
{
    position: relative;
    height: 150px;
    width: 150px;
    box-shadow: 1px 0px 3px 0px;
    margin: 30px;
    border-radius: 8px;
   
}
.feat:hover
{
    transition: .6s ease;
    box-shadow: 1px 0px 9px 0px;
    scale: 1.1;
}
.feat h6
{
    color: red;
    font-size: 25px;
    font-weight: 900;
   text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
   
}

.content
{
    position: relative;
    margin: 20px;
    padding: 30px;
}
footer
{
    height: 10vh;
    background-color: black;
    width: 100%;
    position: relative;
}
footer  .cpyrt
{
    position: absolute;
}
.cpyrt
{
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 500;
    right: 0;
    left: 0;
    bottom: 0;
}
.social
{
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.social li
{
    list-style: none;
    text-decoration: none;
    margin: 5px;
    
}
.social a
{
    color: white;
    font-size: 25px;
}
@media screen and (max-width: 660px)
{
    .ico{
        display: none;
    }
    .icon h5
    {
        font-size: 23px;
    }
}
@media screen and (max-width: 360px)
{
    
    .ico{
        display: none;
    }
    .icon h5
    {
        font-size: 20px;
        margin-left: 5px;
    }
    .burger .bar
{
    height: 3.5px;
    width: 80%;
}
.change #line1
{
    transform: translateY(3px) rotateZ(-45deg);
}
}